@tailwind base;
@tailwind components;
@tailwind utilities;

/* Poppins */
@font-face {
  font-family: "Poppins";
  src: url("../asset/Poppins/Poppins-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../asset/Poppins/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../asset/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../asset/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../asset/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../asset/Poppins/Poppins-ExtraBold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../asset/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../asset/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 900;
  font-style: normal;
}
/* Rajdhani */
@font-face {
  font-family: "Rajdhani";
  src: url("../asset/rajdhani/Rajdhani-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Rajdhani";
  src: url("../asset/rajdhani/Rajdhani-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rajdhani";
  src: url("../asset/rajdhani/Rajdhani-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Rajdhani";
  src: url("../asset/rajdhani/Rajdhani-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Rajdhani";
  src: url("../asset/rajdhani/Rajdhani-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Rajdhani";
  src: url("../asset/rajdhani/Rajdhani-Bold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Rajdhani";
  src: url("../asset/rajdhani/Rajdhani-Bold.ttf");
  font-weight: 900;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  scroll-behavior: smooth;
}

.small-border-b {
  border-bottom-width: 0.5px;
}

.small-border-r {
  border-right-width: 0.5px;
}

.banner {
  background-image: url("/banner.png");
  height: 381px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.win {
  background-image: url("/win.png");
  height: 140px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 30%;
}

.pool-win {
  background-image: url("/win.png");
  height: 140px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 20%;
}

.item {
  width: 66%;
}

.banner-text {
  top: 13%;
}

.pool-banner-text {
  top: 3%;
}

.nav-link:hover .nav-item {
  fill: #ffffff;
  transition: fill 0.3s ease;
}

.modal-container {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.modal {
  background-image: url("/modal-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mobile-nav-container {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  width: 100%;
}

.leader {
  text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
  font-size: 90px;
  line-height: 30px;
}

.nft-text {
  text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
  font-size: 100px;
  line-height: 30px;
}

.nft-sub {
  padding: 0 500px;
}

.announce {
  top: 50%;
  left: 40%;
}

.pool-banner {
  background-image: url("/pool-banner.png");
  height: 381px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ten {
  font-size: 10px;
}

.thin-line {
  height: 0.04px;
}

@media screen and (max-width: 1024px) {
  .nav-icon {
    width: 36.51px;
    height: 36.51px;
  }

  .mobile-nav {
    width: 40%;
  }

  .leader {
    line-height: 55px;
  }

  .nft-text {
    line-height: 55px;
  }
}

@media screen and (max-width: 480px) {
  html,
  body {
    background-color: #232323;
  }

  .win,
  .pool-win {
    display: none;
  }

  .banner {
    background-image: url("/Hotpot.png");
    height: 168px;
  }

  .pool-banner {
    height: 158px;
    background-image: url("/pool-banner-mobile.png");
    background-size: cover;
  }

  .item {
    width: 100%;
  }

  .hide {
    display: none;
  }

  .modal-container {
    background: transparent;
    backdrop-filter: blur(2px);
  }

  .mobile-nav {
    width: 70%;
  }

  .leader {
    font-size: 40px;
    line-height: 30px;
  }

  .nft-text {
    font-size: 60px;
    line-height: 40px;
  }

  .leader-icon {
    width: 176px;
    height: 157px;
  }

  .mint {
    line-height: 20px;
  }

  .announce {
    top: 45%;
    left: 32%;
  }

  .nft {
    width: 212px;
    height: 121px;
  }

  .nft2 {
    width: 190px;
    height: 121px;
  }

  .nft-sub {
    padding: 0 40px;
  }

  .sm-coin {
    width: 40px;
    height: 30px;
  }

  .sm-arrow {
    width: 20px;
    height: 20px;
  }
}

.ant-table .ant-table-content {
  margin-top: 20px;
}

.ant-table .ant-table-content .ant-table-thead .ant-table-cell {
  background-color: #333;
  color: #fff;
}

.ant-table .ant-table-content .ant-table-tbody .ant-table-cell {
  background-color: #333;
  color: #fff;
}

.ant-table .ant-table-content .ant-table-tbody .ant-table-cell-row-hover {
  background-color: #ccc;
  color: #000;
}

.ant-table-pagination-right > .ant-pagination-prev,
.ant-table-pagination-right > .ant-pagination-item,
.ant-table-pagination-right > .ant-pagination-next {
  background-color: #333;
}

.ant-table-pagination-right > .ant-pagination-prev > .ant-pagination-item-link,
.ant-table-pagination-right > .ant-pagination-item > a,
.ant-table-pagination-right > .ant-pagination-next > .ant-pagination-item-link {
  color: #fff;
  border: #fff 1px solid;
  border-radius: 3px;
}

.ant-table-pagination-right
  > .ant-pagination-prev
  > .ant-pagination-item-link:hover,
.ant-table-pagination-right > .ant-pagination-item > a:hover,
.ant-table-pagination-right
  > .ant-pagination-next
  > .ant-pagination-item-link:hover {
  color: #aaa;
}

.flow-y-none {
  overflow-y: hidden !important;
}

.game-dashboard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f1f1f2;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  height: 8px;
  background-color: #888;
  border-radius: 5px;
}
