@tailwind base;
@tailwind components;
@tailwind utilities;

/* Poppins */
@font-face {
  font-family: "Poppins";
  src: url("../asset/Poppins/Poppins-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../asset/Poppins/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../asset/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../asset/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../asset/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../asset/Poppins/Poppins-ExtraBold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../asset/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../asset/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 900;
  font-style: normal;
}
/* Rajdhani */
@font-face {
  font-family: "Rajdhani";
  src: url("../asset/rajdhani/Rajdhani-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Rajdhani";
  src: url("../asset/rajdhani/Rajdhani-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rajdhani";
  src: url("../asset/rajdhani/Rajdhani-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Rajdhani";
  src: url("../asset/rajdhani/Rajdhani-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Rajdhani";
  src: url("../asset/rajdhani/Rajdhani-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Rajdhani";
  src: url("../asset/rajdhani/Rajdhani-Bold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Rajdhani";
  src: url("../asset/rajdhani/Rajdhani-Bold.ttf");
  font-weight: 900;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.small-border-b {
  border-bottom-width: 0.5px;
}

.small-border-r {
  border-right-width: 0.5px;
}

.banner {
  background-image: url("/banner.png");
  height: 381px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.win {
  background-image: url("/win.png");
  height: 140px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 30%;
}

.item {
  width: 66%;
}

.banner-text {
  top: 13%;
}

.wavy {
  /* box-shadow: 1px 1px 10px 12px #bd2344;
  opacity: 0.3; */
}

@media screen and (max-width: 480px) {
  html,
  body {
    background-color: #232323;
  }

  .win {
    display: none;
  }

  .banner {
    background-image: url("/Hotpot.png");
    height: 168px;
  }

  .item {
    width: 100%;
  }

  .hide {
    display: none;
  }
}
